    <nav class="nav">
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/facilities">Facilities</a></li>
            <li><a href="/uploads">Uploads</a></li>
            <li><a href="/surveys">Surveys</a></li>
            <li><a href="/admin/users">Users</a></li>
            <li><a href="/admin/lab-tests">Lab Tests</a></li>
            <li><a href="/export">Export Data</a></li>
        </ul>
    </nav>